.custom-btn {
  display: flex;
  justify-content: center; /* centers button horizontally */
  align-items: center; /* optional, for vertical alignment */
  margin-top: 20px; /* space above button */
  width: 100%;
  //   padding-left: 8px;
  .btn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #183355;
    color: white;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background: #0a1e36;
    }
  }

  .signWithGoogle {
    width: 380px;
  }
  .signIn {
    width: 380px;
  }
  .signUp {
    padding: 10px;
    width: 380px;
  }
}
