.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8rem auto;
  max-width: 400px;
  padding: 5px 0;
  background: #4c5157;
  border-radius: 8px;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);

  .logo {
    padding: 15px;
    background: #183355;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    p {
      font-size: 25px;
      font-weight: 400;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }
  }

  .form-body {
    .signUp-block {
      input {
        width: 390px;
        border-radius: 10px;
      }
    }
  }

  .goTo-signIn {
    margin: 5px auto;
  }
}
